<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Intenal server | Real Estate System</title>
    <!-- Bootstrap CSS
		============================================ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="error-pagewrap">
    <div class="error-page-int">
        <div class="content-error">
            <h1>Server Error <span class="counter"> 500</span></h1>
            <p>The server encountered something unexpected that didn't allow it to complete the request. We apologize.</p>
            <a href="index" th:href="@{/}">Dashboard</a>
        </div>
        <div class="text-center login-footer">
            <p>Copyright © 2018. All rights reserved</p>
        </div>
    </div>
</div>

<!-- jquery
    ============================================ -->
<script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- counterup JS
    ============================================ -->
<script src="../static/js/counterup/jquery.counterup.min.js"
        th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
<script src="../static/js/counterup/waypoints.min.js" th:src="@{/js/counterup/waypoints.min.js}"></script>
<script src="../static/js/counterup/counterup-active.js" th:src="@{/js/counterup/counterup-active.js}"></script>

</body>

</html>